<!-- templates/chart.html -->
{% extends '_base.html' %}

{% block title %}My Chart{% endblock title %}

{% block content %}
<h1>My Chart</h1>
<div id="container" style="width:100%; height:400px;">
    <script>
        Highcharts.ganttChart('container', {
            title: {
                text: 'Design the Best Day Possible!'
            },

            series: [{
                name: 'Project 1',
                data: [{
                    id: 's',
                    name: 'Create Web App',
                    start: Date.UTC(2014, 10, 18),
                    end: Date.UTC(2014, 10, 20)
                }, {
                    id: 'b',
                    name: 'Study',
                    start: Date.UTC(2014, 10, 20),
                    end: Date.UTC(2014, 10, 25),
                    dependency: 's'
                }, {
                    id: 'a',
                    name: 'Go to Class',
                    start: Date.UTC(2014, 10, 23),
                    end: Date.UTC(2014, 10, 26)
                }, {
                    name: 'Gym',
                    start: Date.UTC(2014, 10, 27),
                    end: Date.UTC(2014, 10, 29),
                    dependency: ['a', 'b']
                }]
            }]
        });
    </script>
</div>
{% endblock content %}